@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root{
    --menu_show:35vw;
    --nav-height: 10vh;
    --font-topic:5rem;
    --font-content:2rem;
    --width-item:60vw;
    --primary-color:rgb(243, 146, 0);;
    --text-color:white;
    --text-color-second:rgb(0, 0, 0);
    --background:#0d0d0e;
    --background-second:rgb(255,255,255);
    --background-content:#171718;
    --nav:rgb(0, 0, 0);
    --shadow:none;


}

[data-theme="light"]{
    --primary-color:rgb(127, 99, 231);
    --text-color:rgb(8, 8, 8);
    --text-color-second:rgb(255, 255, 255);
    --background:rgb(240, 240, 240);
    --background-second:rgb(27, 27, 27);
    --background-content:rgb(255, 255, 255);
    --nav:rgb(255, 255, 255);
    --shadow:1px 1px 1px rgb(233, 233, 233);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}
body{
    transition: all 0.2s ease;
    background-color: var(--background);
    color: var(--text-color);
}
h1{
    font-size: var(--font-topic);
}
p{
    font-size: var(--font-content);
}
a{
    text-decoration: none;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 1rem;
}

nav .menu .list {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav .list a{
    color:  var(--primary-color);
    text-decoration: none;
    font-size: var(--font-content);
    padding: 0.5rem;
    border-radius: 1rem;
}
nav .list a:hover{
    opacity: 0.8;
    color: var(--text-color);
    background-color: var(--primary-color);
} 
nav .list a:active{
    scale: 0.9;
} 

nav .menu #btn-menu {
    display: none;
    cursor: pointer;
    color: var(--text-color);
    font-size:var(--font-topic);
    text-decoration: none;
    padding: 1rem;
}

nav .menu #btn-menu:active{
    scale: 0.8;
}
#btn-checkmode{
    display: none;
}
nav #btn-mode {
    cursor: pointer;
    padding: 0.7rem;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    outline: 0;
    border: 0;
}
nav #btn-mode #textMode{
    font-size:1.5rem;
    color: var(--text-color-second);
}
nav #btn-mode:hover {
    opacity: 0.8;
}
nav #btn-mode:active {
    scale: 0.9;
}
body.show{
    transform: translateX( var(--menu_show));
}

.section_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section_content .item .content h1{
    font-size: var(--font-content);
}
.section_content .item{
    width: var(--width-item);
    height: auto;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--background-content)
}
.section_content .item .topic{
    font-size: var(--font-topic);
}
.section_content .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_content .content{
    padding: 1rem;
    margin: 2rem 0;

}
#img-profile{
    max-width: 50%;
    border-radius: 1rem;
}

.section_content img{
    width: 100%;
}

.section_content #Skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.section_content #Skills .content .item-content{
    text-align: center;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color:var(--text-color-second);
}
.section_content #Skills .content .item-content img{
    width: 100%;
}


#Project .content {
    width: 100%;
}
#Project .content a{
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color-second);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    font-size: var(--font-content);
}

#Contact .Contact img{
    margin: 1rem;
    max-width: 30%;
    width: auto !important;
}
#Contact .Contact .logo{
    width: 100%;
    text-align: center;
}
#Contact .Contact h1{
    font-size: var(--font-content);
}

#Contact .Contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#Contact .Contact .Contact-item{
    margin: 1rem;
}

a:hover{
    filter: drop-shadow(0 0 2rem var(--primary-color));
}
a:active{
    scale: 0.9;
}
#reference .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#reference .content a{
    background-color: aqua;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--primary-color); 
    color: var(--text-color-second);
    border-radius: 1rem;
    font-size: var(--font-content);
}
footer{
    display: block;
    width: 100vw;
    height: 10vh;
    background-color: var(--nav);
}

/* portfolio */
#assignment .content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
#assignment .content .item-content{
    text-align: center;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color:var(--text-color-second);
}

#assignment .content .item-content h1{
    color:var(--text-color-second);
    font-size: var(--font-content);
}

#assignment .content .item-content:hover{
    filter: drop-shadow(0 0 2rem var(--primary-color));
    opacity: 0.9;
}
#assignment .content .item-content:hover h1{
    color: var(--text-color);
}
#assignment .content .item-content:active{
    scale: 0.9;
}
#project-in .content{
    width: 100%;
}
#project-in .content .item-content img{
    width: 100%;
    border-radius: 1rem;
}
#project-in .content .item-content{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color:var(--text-color-second);
}
#project-in .content .item-content p{
    padding: 1rem;
}
/* CSS สำหรับ ipad */

@media (max-width: 950px) {
    :root{
        --font-topic:3rem;
        --font-content:1.5rem;
        --width-item:80vw;
    }
    nav .menu #btn-menu{
        display: flex;
    } 
    .menu .list{
        position: fixed;
        top: 0;
        left: 0;
        width: var(--menu_show) !important;
        height: 100%;
        background-color: var(--primary-color);
        transform: translateX(-100%);
    }
    .menu .list {
        display: flex;
        flex-direction: column !important; 
        text-align: start !important;
        justify-content: start !important;
    }
    .menu .list a{
        color:  var(--text-color);
        text-decoration: none;
        font-size: var(--font-topic);
        padding: 0.5rem;
        border-radius: 1rem;
        text-align: center;
        width: 100%;
    }
    .section_content .item .topic{
        font-size: var(--font-topic);
    }

    #img-profile{
        max-width: 100%;
    }
    .section_content #Skills .content{
        grid-template-columns: 1fr 1fr;
    }
    #Contact .Contact{
        grid-template-columns: 1fr;
    }
    #assignment .content{
        grid-template-columns: 1fr 1fr;
    }
}

  /* CSS สำหรับมือถือ */
@media (max-width: 560px) {
    :root{
        --font-topic:2.5rem;
        --font-content:1rem;
        --width-item:90vw;
    }
    nav .menu #btn-menu{
        display: flex;
    }

    .menu .list{
        position: fixed;
        top: var(--nav-height);
        left: 0;
        width: 100% !important;
        height: 100%;
        background-color: var(--background);
        transform: translateX(-100%);
    }

    .menu .list a{
        font-size: var(--font-topic);
    }

    body.show .list{
        transform: translateX(0);
    }

    body.show{
        transform: translateX(0);
    }

    .section_content .item .topic{
        font-size: var(--font-topic);
    }
    
    #contact .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #img-profile{
        max-width: 100%;
    }
    #Contact .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
    }
    #Contact .logo{
        width: 50%;
    }
    .section_content #Skills .content{
        grid-template-columns: 1fr;
    }
    #Contact .Contact{
        grid-template-columns: 1fr;
    }
    #assignment .content{
        grid-template-columns: 1fr;
    }
}

